#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=mate-panel-launcher
Exec=/home/sandbox/src/SARndbox-2.7/RunSARndbox.sh
Name=Start the AR Sandbox
Comment=
Name[en_GB]=Basic SARndbox
