#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/home/sandbox/scrip/image/SARndbox_NoContour.png
Icon[en_GB]=mate-panel-launcher
Exec=/home/sandbox/src/SARndbox-2.7/RunSARndboxNoContour.sh
Comment[en_GB]=No Contours
Name[en_GB]=SARndbox No Contour Lines
Name=SARndbox No Contour Lines
Comment=No Contours
